In [2]:
#kontrol flow if elif else
nilai_siswa = 75

if nilai_siswa >= 90:
    print("A")
elif nilai_siswa >= 80:
    print("B")    
elif nilai_siswa >= 70:
    print("C")
else:
    print("D")     


# Input
#angka = input ("masukan angka:")
#print(angka)
#print(type(angka))

C

In [ ]:
# kontrol flow if else


nilai_siswa = 85

if nilai_siswa >= 90:
    print("grade A")
else:
    print("Kurang Gacorr")

Kurang Gacorr

In [52]:
# kontrol flow if

nilai_siswa = 90

if nilai_siswa >= 90:
    print("Grade A")

Grade A

In [51]:
# operator comparison
a = 10
b = 5

print("a > b: ", a > b) # True
print("a < b : ", a < b ) # false
print("a >= b: ", a >= b) # true

a > b:  True
a < b :  False
a >= b:  True

In [50]:
# operator aritmetika
angka_pertama = 10
angka_kedua = 5

print(f"Penjumlahan + : {angka_pertama + angka_kedua}")

print(f"Pengurangan: -  : {angka_pertama - angka_kedua}")
print(f"Pembagian / : {angka_pertama / angka_kedua}")
print(f"Perkalian: * :  {angka_pertama * angka_kedua}")

Penjumlahan + : 15
Pengurangan: -  : 5
Pembagian / : 2.0
Perkalian: * :  50

In [ ]:
nama_siswa = "kekes"
jurusan = "sistem informasi"
usia = 18

# menampilan variable dan jiga string
print("Nama saya:", nama_siswa)
print("Usia saya, " Usia_siswa)
print("jurusan saya:", jurusan)

# string formating (f"")
print(f"nama saya {nama_siswa}, usia saya {usia} jurusan {jurisan}")

In [ ]:
# String
teks = "python menyenangkan tauu"
print(teks)

#indexing
print(teks[7])
print(teks[0])

# slice string 
print(teks[0:6]) # start:batas atas

In [ ]:
data_penjualan = {
    "bulan": ["jan", "feb", "mar"],
    "jumlah": [120, 130, 130]
}
!pip install pandas
import pandas as pd #import library
df = pd.DataFrame(data_penjualan)
df

In [ ]:
# mapping tipe data -> key : value
# tipe dictionary
kontak_telpon = {
    #key:value
    "riana": 998,
    "isma": 997,
    "farid": 996
}
print(kontak_telpon)

In [ ]:
# set tipe data
# menggunakan {} ->kurung kurawal
himp_siswa = {"isma", "farid", "trisno", "hafiz", "risma"}
print(himp_siswa)

In [ ]:
# Sequence tipe data 

# Tipe data list
# menggunakan []
nama_siswa = ["hafiz", "riana", "isma", "farid"]
print(nama_siswa[0])
print(type(nama_siswa))

# tipe data tuple -> ()
nama_hari = ("senin", "selesa", "rabu")
print(type(nama_hari))

# tipe data renge () -> biasa digunakan dalam looping
angka = range (1, 10, 2) # (start, stop, step
print(type(angka))

In [2]:
# boolean tipe -> true, flase
suka_python = True
print(type(suka_python))

<class 'bool'>

In [1]:
usia_ario = "23"
print(type(usia_ario))
# casting tipe
usia_ario = int(usia_ario)
print(type(usia_ario))

<class 'str'>
<class 'int'>

In [ ]:
# numerik tipe data
# int ->bil bulat
usia_siswa = 22 # tipe data int (bilang bulat)
print(type(usia_siswa))
print(usia_siswa) # tanpilan nilau/data

#float ->bil desimal
tinggi_siswa = 171.5 # tipe data  float (bil desimal)
print(tinggi_siswa)
print(type(tinggi_siswa))

In [ ]:
# Tpte data/  data types -> jenis niali data yang jita simpan dalam var

# teks -> String
nama_siswa = "Hafiz" # variable d egan tipe data string/teks
print(nama_siswa)
sapa = "Hello word!"
jurusan_siswa = 'geofisika' #tadan petik 1 atau 2 sama saja
print(sapa)
print(type(nama_siswa)) #cek tipe data

In [ ]:
# Variable--> wadah unutk menampungf nilai auatu data 
usia = 23 #variable dengan nama "usia"
tinggi = 171 # variabel dengan nama "tinggi"

# aturan penulisan
# jangan menggunakan simbol tertentu delan penulsann variable
# $suai = 23 ->@,&,*

# jangan mengawali nama variable dengan angka
# 4nama = "kekes"
#nama1 = "kekes # ini diperbolehkan

#jangan menggunakan spasi dalam penamaaan variable
# nama siswa = "kekes # tidak boleh spasi"

# case sensitive
# nama x=nama

# rekomendasi penulisan variable (ketika lebih dari 1 kata)
# camel case
NamaSiswa = "Bryan"

# Snake case
namaSiswa = "Hafiz"

# pascal case
nama_siswa = "Farid"

# usahan gunakan namka variable sesuai kontels
#tinggi_siswa = "Trisno"  #ini salah
tinggisiswa = 130 

# identation -> spasi dalan kodinggan

In [ ]:
"""""
ini buat komentar 
yang lebih panjang
"""""